<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content ="IE=edge" />
        <meta name ="viewport" content="width=device-width,initial-scale-1" />
        <meta name ="description" content="sample page"/>
        <meta name ="author" content = "MTM" />
        @Styles.Render("~/Content/css")
</head>
<body>
    
<div class="container">
    <nav class="navbar navbar-nav navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("POS", "Index", "PointOfSale")</li>
                    <li>@Html.ActionLink("Employee Info", "Index", "Employee")</li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maintenance<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("User Maintenance", "Index", "Maintenance")</li>
                    <li>@Html.ActionLink("Replenish Setup", "Replenish", "Maintenance")</li>
                    <li>@Html.ActionLink("Upload Employee Infomrmation", "Upload", "Maintenance")</li>
                </ul>
                </li>
                    <li>@Html.ActionLink("Reports","Index","Report")</li>
                </ul>
                <ul class ="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Contacts", "Index", "Contact")</li>
                    <li>@Html.ActionLink("Log in", "Index", "Account")</li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    



    <hr></hr>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <hr></hr>
    <footer class="footer">
        <div class="container">
            <div class="float-left">
                <p  class="text-muted">&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
